<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Bem-vindo!</title>
  </head>
  <body>
    <h2>Olá {{name}}!</h2>
    <p>Estamos felizes de você fazer parte da {{company}}!</p>
  </body>
</html>